@import 'font-face.css';
@import 'primitives.css';
@import url('./tokens/tokens-colors.css');
@import url('./tokens/tokens-font.css');
@import url('./tokens/tokens-radius.css');
@import url('./tokens/tokens-spacing.css');
@import 'typography.css';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  --theme-secondary: aliceblue;
}
my-element {
  --my-element-background-color: var(--theme-secondary);
}

.showcase {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  width: 100%;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
